@keyframes cuke-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes cuke-fade-out {
	from {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 0;
		transform: translate3d(0, -100px, 0);
	}
}

@keyframes cuke-fade-in {
	from {
		opacity: 0;
		transform: translate3d(0, -100px, 0);
	}
	to {
		opacity: 1;
		transform: scale(1) translate3d(0, 0, 0);
	}
}

@keyframes cuke-mask-fade-in {
	from {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 1;
		transform: scale(1) translate3d(0, 0, 0);
	}
}
@keyframes cuke-mask-fade-out {
	from {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes cuke-slide-up {
	from {
		opacity: 0;
		transform: translate3d(0, 15px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}



@keyframes cuke-slide-down {
	from {
		opacity: 0;
		transform: translate3d(0, -15px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes cuke-slide-right {
	from {
		opacity: 0;
		transform: translate3d(15px,0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes cuke-slide-left {
	from {
		opacity: 0;
		transform: translate3d(-15px, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes cuke-drawer-slide-in-left {
	from {
		transform: translate3d(-100%, 0, 0);
	}
	to {
		transform: scale(1) translate3d(0, 0, 0);
	}
}

@keyframes cuke-drawer-slide-out-left{
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes cuke-drawer-slide-in-right {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: scale(1) translate3d(-100%, 0, 0);
	}
}

@keyframes cuke-drawer-slide-out-right{
	from {
		transform: translate3d(-100%, 0, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes cuke-drawer-slide-in-top {
	from {
		transform: translate3d(0, -100%, 0);
	}
	to {
		transform: scale(1) translate3d(0, 0, 0);
	}
}

@keyframes cuke-drawer-slide-out-top{
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes cuke-drawer-slide-in-bottom {
	from {
		transform: translate3d(0, -100%, 0);
	}
	to {
		transform: scale(1) translate3d(0, 0, 0);
	}
}

@keyframes cuke-drawer-slide-out-bottom{
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(0, -100%, 0);
	}
}