//风格配置
@primary-color: #31c27c;
@warning-color: #FAAD14;
@error-color: #E41C1E;
@success-color: #35C613;
@info-color: #1890ff;
@bg-color: #FAFAFA;
@border-color: #e8e8e8;
@label-color: #333;
@button-height: 40px;
@default-color: #d9d9d9;
@disabled-color: #f7f7f7;
@loading-color: darken(@info-color, 10%);
@font-color: rgba(0, 0, 0, .65);
@font-size: 14px;
@border-radius: 4px;
@default-shadow:0 4px 12px rgba(0, 0, 0, 0.15);

//动画时间
@loading-time: .7s;
@loading-opacity: .7;
@animate-time : .5s;
@animate-type: cubic-bezier(0.165, 0.84, 0.44, 1);
@default-transition: @animate-time @animate-type;

//输入框
@input-height: 40px;
@input-padding: 4px 10px;
@input-box-shadow:0 0 0 2px fade(@primary-color, 20%);

//Grid
@max-col-length : 24;
@max-row-width : 100%;

//message 消息提示
@message-theme-dark-bg: rgba(0,0,0,.5);
@message-theme-light-bg: #fff;
@message-theme-dark-font-color: #fff;
@message-z-index: 999;
@message-width: 300px;
@message-height: 180px;
@message-width-sm: 200px;
@message-padding: 12px 25px;
@message-title-size: 24px;
@message-title-size-sm: 16px;
@message-icon-font-size: 45px;
@message-icon-font-size-sm: 25px;

//Tooltip 文字提示
@tooltip-bg-color: #444;
@tooltip-font-color: #fff;
@tooltip-padding: 5px 15px;
@tooltip-triangle-width: 10px;   //三角形