@primary-color: #31c27c;
@warning-color: #F7C12A;
@error-color: #E41C1E;
@success-color: #35C613;
@info-color: #1890ff;
@bg-color: #FAFAFA;
@border-color: #e8e8e8;
@label-color: #333;
@button-height: 40px;
@default-color: #d9d9d9;
@disabled-color: #f7f7f7;
@loading-color: darken(@info-color, 10%);
@font-color: rgba(0, 0, 0, .65);
@font-size: 14px;
@border-radius: 3px;

@loading-time: .5s;
@loading-opacity: .7;
@animate-time : .3s;
@animate-type: cubic-bezier(0.165, 0.84, 0.44, 1);
@default-transition: @animate-time @animate-type;
