
{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-runtime",
    "transform-es2015-modules-commonjs",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "import",
      {
        "libraryName": "cuke-ui",
        "libraryDirectory": "components",
        "style": true
      }
    ]
  ]
}