@import "../styles/vars.less";
@import "../styles/animate.less";
@import "../styles/mixins.less";
@prefixCls : cuke-date-picker;
.@{prefixCls} {
  position: relative;
  display: inline-block;
  user-select: none;
  &-inner {
    display: inline-block;
    position: relative;
    cursor: pointer;
    >.cuke-input:not(.cuke-input-disabled) {
      cursor: pointer;
    }
  }
  &-active {
    .@{prefixCls}-arrow {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  &-open {
    animation: cuke-picker-open @default-transition forwards;
  }
  &-close {
    animation: cuke-picker-close @default-transition forwards;
    pointer-events: none;
  }
  &-input {
    width: @cuke-select-width;
  }
  &-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: @disabled-font-color;
    transition: @default-transition;
  }
  &-content {
    width: @cuke-date-picker-content-width;
    max-height: @cuke-date-picker-content-height;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: @picker-offset-top;
    transform: scale(0);
    background: #fff;
    border: 1px solid @border-color;
    z-index: @cuke-date-picker-z-index;
    box-shadow: @default-shadow;
    padding: 15px;
  }
  &-header {
    margin-left: 12px;
    margin-bottom: 28px;
    color: @primary-color;
    font-weight: bold;
  }
  &-date {
    letter-spacing: 0.6px;
    margin-right: 10px;
  }
  &-switch {
    float: right;
    & >.@{prefixCls}-switch-group {
      cursor: pointer;
      margin: 0 5px;
      border: 1px solid @border-color;
      border-radius: 50%;
      background-color: @bg-color;
      text-align: center;
      width: 25px;
      height: 25px;
      line-height: 25px;
      display: inline-block;
      transition: all @default-transition;

      &:hover {
        background-color: @primary-color;
        border-color: @primary-color;
        color: #fff;
      }
    }
  }
  &-button {
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 50%;
    background-color: @disabled-color;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    &-icon {
      color: @primary-color;
    }
  }
  &-loading {
    height: 300px;
    .flex-center();
    font-size: 60px;
    color: @primary-color;
    svg {
      animation: cuke-spin @loading-time linear infinite;
    }
  }
  &-last-month,
  &-next-month {
    color: @disabled-color;
  }
  &-day-title {
    color: @font-color;
    opacity: 0.65;
  }
  &-items {
    .@{prefixCls}-item {
      text-align: center;
      display: inline-block;
      width: 13.2%;
      padding: 7px 0;
      margin: 0 2px 10px 2px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: all @default-transition;
      &:not(.@{prefixCls}-day-title):hover {
        border: 1px solid @primary-color;
      }
    }
  }
  &-current-month {
    border: 1px solid transparent;
    border-radius: @border-radius;
  }
  &-selected-date {
    border-color: @primary-color;
    background-color: @primary-color;
    color: #fff;
  }
  &-footer {
    margin-top: 20px;
    padding-top: 10px;
    &-today {
      text-align: center;
      color: @primary-color;
      cursor: pointer;
    }
    &.@{prefixCls}-has-extra-footer {
      .@{prefixCls}-footer-today {
        margin-top: 10px;
      }
    }
    &.@{prefixCls}-has-border {
      border-top: 1px solid @border-color;
    }
  }
}
