@import "../styles/vars.less";
@import "../styles/animate.less";
@import "../styles/mixins.less";

@prefixCls : cuke-button;
.@{prefixCls} {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  padding: @button-default-padding;
  font-size: @button-default-font-size;
  height: @button-default-height;
  user-select: none;
  transition: all @default-transition;
  position: relative;
  color: @font-color;
  background-color: #fff;
  border-color: @border-color;
  border-radius: @border-radius;
  outline: none;
  box-shadow: @button-box-shadow;

  .cuke-button-hover(@default-color);
  &.@{prefixCls}-primary {
    .cuke-button-hover(@primary-color);
    &.@{prefixCls}-hollow {
      .cuke-button-hollow(@primary-color)
    }
  }
  &.@{prefixCls}-default {
    color: @font-color;
    background-color: #fff;
    border: 1px solid @default-color;
    &:not(.@{prefixCls}-disabled):not(.@{prefixCls}-loading) {
      &:hover,
      &:active {
        border: 1px solid @primary-color;
        color: @primary-color;
      }
    }
    &.@{prefixCls}-hollow {
      .cuke-button-hollow(@default-color)
    }
  }
  &.@{prefixCls}-warning {
    .cuke-button-hover(@warning-color);
    &.@{prefixCls}-hollow {
      .cuke-button-hollow(@warning-color)
    }
  }
  &.@{prefixCls}-error {
    .cuke-button-hover(@error-color);
    &.@{prefixCls}-hollow {
      .cuke-button-hollow(@error-color)
    }
  }
  &.@{prefixCls}-success {
    .cuke-button-hover(@success-color);
    &.@{prefixCls}-hollow {
      .cuke-button-hollow(@success-color)
    }
  }
  &.@{prefixCls}-info {
    .cuke-button-hover(@info-color);
    &.@{prefixCls}-hollow {
      .cuke-button-hollow(@info-color)
    }
  }
  &.@{prefixCls}-disabled {
    .cuke-button-hover(@disabled-color);
    cursor: not-allowed;
    color: @disabled-font-color;
    border-color: @border-color;
    &.@{prefixCls}-hollow {
      color: @disabled-font-color;
    }
  }
  &.@{prefixCls}-block {
    width: 100%;
    display: block;
  }
  &.@{prefixCls}-loading {
    opacity: @loading-opacity;
    cursor: not-allowed;
    >.cuke-loading {
      display: inline-block;
      vertical-align: middle;
      margin: -3px 10px 0 0;
      animation: cuke-spin @loading-time linear infinite;
    }
  }
  &.@{prefixCls}-large {
    font-size: @button-large-font-size;
    padding: @button-large-padding;
    height: @button-large-height;
  }
  &.@{prefixCls}-small {
    font-size: @button-small-font-size;
    padding: @button-small-padding;
    height: @button-small-height;
  }
  &.@{prefixCls}-dashed {
    border: 1px dashed;
  }
  &.@{prefixCls}-circle {
    width: 40px;
    height: @button-default-height;
    border-radius: 50%;
    padding: 0;
  }
  &-link {
    cursor: pointer;
  }
}
