@import '../styles/vars.less';
@prefixCls : cuke-popover;
.@{prefixCls} {
  display: inline-block;
  vertical-align: top;
  &-wrapper {
    padding: 0;
    z-index: @popover-wrapper-z-index;
    .@{prefixCls}-title {
      min-width: @cuke-popover-content-width;
      min-height: @cuke-popover-title-height;
      line-height: 2;
      text-align: center;
      white-space: pre-wrap;
      border-bottom: 1px solid @border-color;
    }
    .@{prefixCls}-content {
      min-width: @cuke-popover-content-width;
      padding: @cuke-popover-content-padding;
    }
    &.cuke-tooltip-position-top {
      &::before,
      &::after {
        top: 95%;
      }
    }
    &.cuke-tooltip-position-bottom {
      &::before, &::after {
        bottom: 95%;
      }
    }
    &.cuke-tooltip-position-left {
      &::before, &::after {
        left: 98%;
      }
    }
    &.cuke-tooltip-position-right {
      &::before, &::after {
        right: 98%;
      }
    }
  }
}
